html{
    background-color: lightgoldenrodyellow;

}
h1{
    background-color: lightgreen;
    text-align: center;
    text-decoration: underline;
    text-size-adjust: large;
}
#inst-text{
    margin: 250px;
    margin-top: 100px;
    width: 600px;
    height: 400px;
    border: thick;
    border-color: black;
    line-height: 35px;
}
footer{
    text-align: center;
    background-color: lightgreen;   
}