h1{
    text-align: center;
    background-color: lightgreen;
}
h2{
    text-align: center;
}

.Contact{
    font-size: small;
    text-align: right;
}
a{
    color: green;
}
#nav{
    display: inline;
    
    font-size: x-large;
    color: green;
    word-spacing: 200px;
    background-color: lightgray;
    
}

#Education{
    background-color: lightgreen;
    display: grid;
    text-align: center;
}

#Work-exp{
    background-color: salmon;
    background-origin: content-box;
    display: grid;
    text-align: center;
}
aside{
    text-align: right;
    display: block;
}
section{
    display:table;
}
#Work-exp{
    display: table-cell;
}
#games{
    
    display: list-item;
}
#gamesH{
    display: table-caption;
    text-align: center;

}
#workexp{
    
    display: grid;
    text-align: center;
    
}
th{
    font-size: large;
    
}
#logo{
    float: left;
}
#Hobbies{
    background-color: lightgreen;
    display: grid;
    text-align: center;
}
#Mission{
    background-color: lightgreen;
    display: grid;
    text-align: center;
}
#Activities{
    background-color: white;
    display: grid;
    text-align: center;
}
footer{
    display: grid;
    text-align: center;
    background-color: lightgreen;
}